name: 'Deploy Solution'

on:
  push:
    branhes: [main]

jobs:
  sophia_terraform_infrastructure:
    name: 'Terraform Infrastructure'
    runs-on: ubuntu-latest

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the infrastructure repository to the GitHub Actions runner
    - name: Checkout infrastructure repository
      uses: actions/checkout@v2

    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      # with:
      #   cli_config_credentials_token: ${{ secrets.TF_CLOUD_API_TOKEN }}
      #   terraform_wrapper: false

    # - name: Install Terragrunt
    #   uses: autero1/action-terragrunt@v1.0.0
    #   with:
    #     terragrunt_version: 0.26.4
      
    - name: Install jq
      uses: r26d/jq-action@master

    - name: Setup Python 3
      uses: actions/setup-python@v2
      with:
        python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax

    - name: Deploy Sophia infrastructure
      env:
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      run: |
        ls
        ./deploy-dev-test.sh